.MenuList {
    display:flex; 
    flex-direction:row; 
    text-decoration: none; 
    margin-right: 30px; 
}


.MenuList:hover {
    cursor: pointer;
    color: yellow;
}
 
.MenuList2{
    display:flex; 
    flex-direction:column; 
    text-decoration: none; 
    margin-right: 30px; 
    align-items: center;

}


.name {
    color:white; 
    text-decoration: none; 
    letter-spacing: 0;
    font-family: GeoBrandBlack,CenturyGothic,AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    margin-right: 5px; 
}


.ikona {
    color: white; 
}
.name:hover {
    color: yellow; 
    .dropdown{}
}
 .ikona:hover {
    color: yellow; 
}

.dropdown {
    display:flex; 
    flex-direction:row; 
    background-color: white; 
    margin-right: 30px; 
    width: 100%; 
    height: 100px; 
}


.dropdown .name {
    color:black; 
    text-decoration: none; 
    letter-spacing: 0;
    font-family: GeoBrandBlack,CenturyGothic,AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    margin-right: 5px; 
}

